
.btn-primary {
    margin-top: 2em;
    background-color: #7e75b6;
    border: none;
}

.btn-primary:hover {
    background-color: #7e75b6 !important;
}


#menu {
    margin-top: 2em;
    border: none;
    display: flex;
}